{:lint-as {blancas.kern.core/bind clojure.core/let
           nanoweave.monads/bind clojure.core/let
           blancas.kern.core/def- clojure.core/def}
 :linters {:unresolved-namespace {:exclude [nanoweave.parsers.expr]}}}